* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding:1rem 1.5rem;
}

/* HEADER */

.header-wrapper {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 0.25rem ;
  height: 4rem;
  background-color: #ead8cc;
  box-shadow: 0rem 0.3rem 0.3rem grey;
}

header > nav {
  display: flex;
  text-decoration: none;
}

.header-wrapper >  .home-logo > img {
  height: 3rem;
}

/* FOOTER */

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: #ead8cc;
  height: 3.5rem;
  color: #4f4f4d;
  text-align: center;
  box-shadow: 0rem -0.3rem 0.3rem grey;
  padding:1rem 0 ;
}